<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>life.xiaoyuan.sublime-projects</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>37C48A61-30BA-4AC5-AF7A-770961F4571C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DFC70BE-631C-49CA-B527-D9BB948E98DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Youmoo</string>
	<key>description</key>
	<string>Listing Sublime Projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sublime Projects</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1DFC70BE-631C-49CA-B527-D9BB948E98DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.sublime</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>./sublime-projects.js {query}</string>
				<key>title</key>
				<string>List sublime files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>37C48A61-30BA-4AC5-AF7A-770961F4571C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1DFC70BE-631C-49CA-B527-D9BB948E98DD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>37C48A61-30BA-4AC5-AF7A-770961F4571C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://xiaoyunal.life</string>
</dict>
</plist>
